apps/helm/templates/**/*.yaml
apps/app/android/.gradle/
apps/app/android/build/
apps/app/ios/.build/
apps/app/ios/build/
apps/app/ios/DerivedData/
apps/app/dist/
apps/app/storybook-static/
.pnpm-store/
pnpm-lock.yaml
schema.graphql
