apps/helm/templates/**/*.yaml
apps/app/android/.gradle/
apps/app/android/build/
apps/app/ios/.build/
apps/app/ios/build/
apps/app/ios/DerivedData/
apps/web/build/
apps/web/storybook-static/
apps/web/.svelte-kit
apps/web/.mearie
.pnpm-store/
pnpm-lock.yaml
schema.graphql
